@import '_setting.scss';

$column-border-radius: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-bg-color: rgb(238, 238, 238);
$card-border-radius: 5px;


.board-columns {
  height: $navbar-content-height;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darken($color: $column-bg-color, $amount: 12) ;
    border-right: 5px solid $column-bg-color;
  }
}

.columns-drop-preview {
  background-color: rgba(255, 0, 43, 0.1);
  border: 1px dashed #abc;
  margin: 5px 45px 5px 5px;
}

.column-drag-handle{
  cursor: move;
  padding: 5px; 
}

.add-new-column {
  border-radius: $card-border-radius;
  justify-content: center;
  padding: 10px 15px;
  width: 300px;
  height: 32px;
  line-height: 32px;
  margin-left: $gap;
  cursor: pointer;
  color: rgb(240, 240, 240);
  font-size: 15px;
  background-color: hsla(0, 0%, 100%, .24);
  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.445);
  }
}