@import './setting';

$board-bg-color: rgb(133, 189, 170);
$column-bg-color: rgb(238, 238, 238);


body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3cm;
  font-family: source-sans-pro, sans-serif;
}

.trello-web {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
}